
  .siz{
    width: 270px;
    height: 190px;
    
  }
  .CARD {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 30px;
    /* display: flex; */
  
  }
  .zoom {
 

    transition: transform .2s; 
  
  }
  .butt{
    margin-right: 60px;
  }
  .min {
   min-height: 448px;
  }
  .pos1{
  display: flex; 
  flex-direction:row;
  justify-content: space-between;
  padding: 3px;
  }